
.days {
	display:grid;
	grid-template-columns: repeat(7,1fr);
	grid-gap: 0.5em;
	background: #fff;
	overflow: auto;
	float: left;
	width: 100%;
}
.month h3 {
	text-align: center;
	margin: -20px -20px 30px -20px;
	padding: 20px 0;
	background: red;
	color: #fff;
}

.day, .dow, .dummy-day {
	display: inline-block;
	float: left;
	text-align: center;
	margin-right: 1.5%;
}

.dow {
	font-weight: bold;
	margin-bottom: 10px;
}

.day {
	color: #333;
	cursor: pointer;
	box-shadow: inset 0 0 0 1px #eee;
}
.day.weekend {
	background: #fafaff;
}
.day:hover {
	background: yellow;
}

.day, .dummy-day {
	height: 1.5em;
	line-height: 1.5em;

	background: #fff;
}

.dummy-day {
	background: #f5f5f5;
	color: #ccc;
}
.today{
	background: #74c0d8;
}


