body{
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #1DABD8 0%, #9DCBD9 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 50%;
    text-align: center;
}

.login-container{
    width:50%;

}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
    height: 30vh;
    background: #f1f1f1 0% 0% no-repeat padding-box;
    border-radius: 38px;
    opacity: 1;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
    height: 60vh;
    background: #f1f1f1 0% 0% no-repeat padding-box;
    border-radius: 38px;
    opacity: 1;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
}
button{
    background: transparent linear-gradient(180deg, #1DABD8 0%, #9DCBD9 100%) 0% 0% no-repeat padding-box;
    border-radius: 16px;
    border:none;
    padding: 1em;
    margin: 1em;
    color: #f1f1f1;
    width:33%
}

nav{
    width: 15vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #1DABD8 0%, #9DCBD9 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Bookman Old Style', arial;
}
nav > img{
    width: 80%;
    margin: 2em auto;
}
main{
    width: 85vw;
    font-family: 'Bookman Old Style', arial;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.base-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}


a{
    text-decoration: none;
    display: inline-block;
    padding-left: 2em;
    color: white;
    font-size: 1.25em;
    position: relative;
    left: -1em;
    font-weight: bold;
}
li{
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}
li i{
    font-size: 3em;
    color: white;
}
.button{
    border-bottom: 4px solid white;
    width: 60%;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    width: calc(90%);
    height: 100%;
    position: relative;
}
li:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
}
li:last-child > .button{
    border:none;
}

header{
    display: flex;
    justify-content: space-between;
    background: #23ACD8 0% 0% no-repeat padding-box;
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
}
section{
    height: 100%;
    overflow: scroll;
}
.arrow{
    font-size: 3em;
    margin-left:1em;
    margin-right: 1em;
}
.addButton{
    font-size: 1.5em;
    margin-top: 0.5em;
}
.headerText{
    margin: auto;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}
.register_button{
    padding: 0;
    left: 0;
    font-size: 1em;
    color: lightblue;
}
.menuButton{
    display: none;
}

@media only screen and (max-device-width:420px) {
    .container{
        flex-direction: column;
    }
    .base-container{
        flex-direction: column;
    }
    nav,main{
        width: 100vw;
    }
    * {
        font-size: 36px;
    }
    .login-container, .logo{
        width: 100%;
    }
    form{
        margin: auto;
        width: 90%;
    }
    img{
        height: 10em;
        margin: auto;
    }
    li:last-child{
        position: relative;
        width: 100%;
        align-items: center;
    }
    ul{
        display: none;
    }
    nav{
        height: auto;

    }
    nav > img{
        width: 80%;
        margin: 0 auto;
    }
    header{
        font-size: 1em;
        padding: 1em;
    }
    .arrow{
        padding-top: 0.5em;
    }
    .arrow,.addButton,.menuButton{
        font-size: 1em;

        margin-top:0;
    }
    .menuButton{
        display: block;
        margin-top: 0.5em;
    }
}