.todo{
    border:2px solid gray;
    border-radius: 1em;
    margin:0.5em
}
header{
    padding: 1em;
}
form {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.addToDo {
    position: relative;
    display: flex;
    flex-direction: column;
}
.addButton{
    text-decoration: none;
}
.completed{
    background-color: lightgray;
    text-decoration: line-through;
}