.days{
    overflow: scroll;
    position: relative;
}
table{
    width:100%;
    height: 100%;
    table-layout: fixed;
    /*border-collapse: collapse;*/
    
}
thead{
    position: fixed;
    width: 100%;
}
th{
    background-color: lightgray;
    padding: 1em;
    width: 12.5%;
}
.time{
    background-color: lightgray;
    padding: 1em;
}
tr{
    border-bottom: 1px solid gray;
    width: 100%;
}
td{
    background-color: #f1f1f1;
}