
#calendar{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1em;
    overflow: auto;
    padding: 1em;
}
@media only screen and (max-device-width:420px) {
    #calendar{

        grid-template-columns: repeat(2,1fr);
       
    }
}